name: Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build-app:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: package.json
          cache: pnpm

      - run: pnpm install

      - name: Fetch TLE data
        run: curl 'https://celestrak.org/NORAD/elements/gp.php?GROUP=last-30-days&FORMAT=tle' -o src/satellites.txt

      - run: pnpm run build:app

      - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: app

  deploy:
    needs: build-app

    permissions:
      pages: write
      id-token: write

    concurrency:
      group: pages

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
        id: deployment
